DATABASE_URL="postgresql://neondb_owner:npg_rRPjb35eNzqa@ep-green-thunder-amw4ewdv-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET=mysupersecretjwtkey123
JWT_EXPIRES_IN=7d
PORT=3000